%h1 California Poets Poem Submission

= form_tag poems_path, :multipart => true do

  = label :person, :title, 'Poet-Teacher Information', :class => "header", :id => "teacher"
  
  = label :poem, :teacher_name, 'Name', :class => "header"
  = text_field :poem, 'teacher_name', :class => "entry_box"
  
  = label :poem, :email, 'Email', :class => "header"
  = text_field :poem, 'email', :class => "entry_box"

  = label :person, :title, 'Student Information', :class => "header", :id => "student"
  
  = label :poem, :student_name, 'Student Name', :class => "header"
  = text_field :poem, 'student_name', :class => "entry_box"
  
  = label :poem, :title, 'Title of Poem', :class => "header"
  = text_field :poem, 'title', :class => "entry_box"

  = label :poem, :poem, 'Poem', :class => "header"
  = text_area :poem, 'poem', :class => "entry_box", :rows => 50, :cols => 50, :id => "poem_entry"
  
  = label :poem, :attachment, 'Release Form', :class => "header"
  = file_field :poem, :attachment, :id => "button"
  
  = submit_tag 'Submit the poem', :id => "button"
  
  = submit_tag 'Submit another poem', :id => "button"
