= stylesheet_link_tag "submitpoemform"


.container
  .info
   
    %span
  = form_tag poems_path, :class => "newpoem_form", :multipart => true do
    %header.header
      = link_to image_tag("https://static.wixstatic.com/media/a0cfee_3825840911504adfac05ff6e22bf7b6c.jpg/v1/fill/w_198,h_134,al_c,q_80,usm_0.66_1.00_0.01/a0cfee_3825840911504adfac05ff6e22bf7b6c.webp",
      ), '/', :id => "CPITS_image"   
      %h2 Submit a poem
    .content
      .form
        %h4 Poet-Teacher Information
        .form-row
          .input-group
            = label :poem, :teacher_name, 'Poet Teacher Name'
            = text_field :poem, :teacher_name, :class=> "form-control", :id=> "poem_teacher_name", :placeholder => 'ex: John Smith', :err => 'Poet Teacher Name'
        .form-row
          .input-group
            = label :poem, :email, 'Email'
            = text_field :poem, :email, :class=> "form-control", :id=> "poem_email", :placeholder => 'ex: jSmith@gmail.com', :err => "Email"           
        %h4 Student Information
        
        %entry1.student_instance
        
          .form-row
            .input-group
              = label :poem, :student_name, 'Student Name', :class => "label_student_name control-label"
              = text_field :poem, :student_name, :class => "entry_box input_student form-control", :id=> "poem_student_name", :placeholder => 'ex: Ivette Flores', :err => "Student Name"
            .input-group
              = label :poem, :grade, "Grade"
              = select :poem, 'grade', [ 'K', '1', '2', '3', '4', '5' , '6', '7', '8', '9', '10', '11', '12', 'Other']
          .form-row
            .input-group
              = label :poem, :student_teacher_name, 'Teacher Name'
              = text_field :poem, 'student_teacher_name', :class => "entry_box", :id => "poem_student_teacher_name", :type => 'text', :placeholder => 'ex: Nancy Freeman', :err => "Teacher Name"
          
          .form-row
            .input-group
              = label :poem, :school, 'School'
              = text_field :poem, 'school', :class => "entry_box", :id => "poem_school", :type => 'text', :placeholder => 'ex: Berkeley Middle School', :err => "School"
            .input-group
              = label :poem, :county, "County"
              = select :poem, 'county', [ 'Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa' , 'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn', 'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen', 'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino', 'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito', "San Bernardino", 'San Diego', 'San Francisco', 'San Joaquin', 'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara', 'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma', 'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne', 'Ventura', 'Yolo', 'Yuba', 'Other']

          .form-row
            .input-group
              = label :poem, :title, 'Poem Title'
              = text_field :poem, 'title', :class => "entry_box", :id=> "poem_title", :type => 'text', :placeholder => 'ex: The Road Not Taken', :err => 'Poem Title'
          / Dropdown Trigger
          %a.dropdown-button.btn{"data-activates" => "dropdown1"} Poem tags
          / Dropdown Structure
          %ul#dropdown1.dropdown-content
            %li
              %a{:href => "#!"} Spring
            %li
              %a{:href => "#!"} Summer
            %li.divider
            %li
              %a{:href => "#!"} Fall
            %li
              %a{:href => "#!"} Winter
            %li
              %a{:href => "#!"} Rain
            %li
              %a{:href => "#!"} Halloween
            %li
              %a{:href => "#!"} Snow
            %li
              %a{:href => "#!"} Holidays
            %li
              %a{:href => "#!"} Love
            %li
              %a{:href => "#!"} Family
            %li
              %a{:href => "#!"} Elementary School
            %li
              %a{:href => "#!"} Jr High
            %li
              %a{:href => "#!"} High School                                          
            %li
              %a{:href => "#!"} Imagination
            %li
              %a{:href => "#!"} Image
            %li
              %a{:href => "#!"} Shape
            %li
              %a{:href => "#!"} Sound
            %li
              %a{:href => "#!"} Chants and Rhythm
            %li
              %a{:href => "#!"} Senses
            %li
              %a{:href => "#!"} Personification
            %li
              %a{:href => "#!"} Hyperbole
            %li
              %a{:href => "#!"} Juxtaposition
            %li
              %a{:href => "#!"} Onomatopoeia
            %li
              %a{:href => "#!"} Tanka
            %li
              %a{:href => "#!"} Memory
            %li
              %a{:href => "#!"} Sapphic Modernism
            %li
              %a{:href => "#!"} Muse
            %li
              %a{:href => "#!"} Superlatives
            %li
              %a{:href => "#!"} Metaphor/Simile
            %li
              %a{:href => "#!"} Sestinas
            %li
              %a{:href => "#!"} Ode
            %li
              %a{:href => "#!"} Ekphrasis
            %li
              %a{:href => "#!"} Riddles

          .form-row
            .input-group
              %p * Please choose one or more tags that categorize the poem, create new ones below if the existing ones do not match.
              = label :poem, :title, 'Create Poem Tags'
              = text_field :poem, 'list_of_tags', :class => "entry_box", :id=> "poem_tags", :type => 'text', :placeholder => 'ex: Love, Seasons, Ode', :err => 'Poem Tags'
          .form-row
            .input-group
              = label :poem, :poem, 'Poem'
              = text_area :poem, 'poem', :class => "entry_box", :id => "poem_entry", :placeholder => 'input poem here', :class=> "form-control"
          .form-row
            .input-group
              = label :poem, :attachment, 'Attach Poem/Images'
              %p * Please combine multiple files into a single attachment prior to uploading.
              = file_field :poem, :attachment, :id => "poem_button", :err => 'Attach Poem/Images'
          -#.form-row
          -#  .input-group
          -#    %img#preview{:alt => "preview", :src => "http://golloscdn.com/common/no-image.jpg"} 
          .form-row
            .input-group
              = label :poem, :release, 'Release Form'
              %p
                * Download a blank student release form on the Secure Login page – section 3
                %a{:href => "http://www.californiapoets.org/secure-login", :style => "display: inline;"} here     
              = file_field :poem, :release, :id => "release_button", :err => 'Release Form'
          %br
          
          Having trouble? Click
          %a{:href => "http://www.californiapoets.org/contact-us", :target => "_blank", :style => "display: inline;"} here 
          to contact us for further assistance.
      -#= button_tag 'Add another student', :id => "addStudent", :type=>"button"
    %br
    %footer.footer
      = submit_tag 'Submit the poem', :id => "button", :class=>"button"
      

