.container
  .info
    %h1 Submit a poem
    %span
  = form_tag poems_path, :class => "modal", :multipart => true 2.times do
    %header.header
      %h1 California Poets in the Schools
    .content
      .form
        %h2 Poet-Teacher Information
        .form-row
          .input-group
            = label :poem, :teacher_name, 'Name'
            = text_field :poem, :teacher_name, :class=> "form-control", :placeholder => 'ex: Jennifer Yip'
        .form-row
          .input-group
            = label :poem, :email, 'Email'
            = text_field :poem, :email, :class=> "form-control", :placeholder => 'ex: jenniferyip@berkeley.edu'
              
        %h2 Student Information
        
        %entry1.student_instance
        
          .form-row
            .input-group
              = label :poem, :student_name, 'Student Name', :class => "label_student_name control-label"
              = text_field :poem, :student_name, :class => "entry_box input_student form-control", :placeholder => 'ex: Jennifer Yip'
            -#.input-group
            -#  = label :poem, :student_grade, "Grade"
            -#  = select :poem, 'student_grade', [ 'K', '1', '2', '3', '4', '5' , '6', '7', '8', '9', '10', '11', '12', 'Other']
          .form-row
            .input-group
              = label :poem, :title, 'Poem Title'
              = text_field :poem, 'title', :class => "entry_box", :type => 'text', :placeholder => 'ex: Happiness'
              
          .form-row
            .input-group
              = label :poem, :poem, 'Poem'
              = text_area :poem, 'poem', :class => "entry_box", :id => "poem_entry", :placeholder => 'ex: sample poem', :class=> "form-control"
          .form-row
            .input-group
              = label :poem, :attachment, 'Release Form'
              = file_field :poem, :attachment, :id => "button"
          .form-row
            .input-group
              %img#preview{:alt => "preview", :src => "http://golloscdn.com/common/no-image.jpg"} 
          %br
          %br
      = button_tag 'Add another student', :id => "addStudent", :type=>"button"
    %br
    %footer.footer
      = submit_tag 'Submit the poem', :id => "button", :class=>"button"