
%h1 List of all Poems in Database

%table#poems
  %thead
    %tr
      %th Poet-Teacher Name
      %th County
      %th Email
      %th Student Name
      %th School
      %th Grade
      %th Teacher Name
      %th Title of Poem
      %th Status
      %th Poem/Images
      %th Release
      %th Approve
      %th Reject
  %tbody
    - @poems.each do |poem|
      %tr
        %td= poem.teacher_name 
        %td= poem.county
        %td= poem.email
        %td= poem.student_name
        %td= poem.school
        %td= poem.grade
        %td= poem.student_teacher_name
        %td= poem.title
        %td= poem.status
        %td= link_to "Download", poem.attachment_url
        %td= link_to "Download", poem.release_url
        %td= button_to 'Approve', {:controller => "poem", :action => "approve", :id=>@poem.id }  
        %td= button_to 'Reject', {:controller => "poem", :action => "reject", :id=>@poem.id }
        

= link_to 'Add new poem', new_poem_path
