%html
  %head
    %title 
    = stylesheet_link_tag 'show'
    = csrf_meta_tags
.body
  .logo 
    = link_to image_tag("https://static.wixstatic.com/media/a0cfee_3825840911504adfac05ff6e22bf7b6c.jpg/v1/fill/w_198,h_134,al_c,q_80,usm_0.66_1.00_0.01/a0cfee_3825840911504adfac05ff6e22bf7b6c.webp", 
    ),'/'
  .container
    .header
      %h2 
        = @poem.title
      %h3 
        = @poem.student_name
        , Grade
        = @poem.grade
    .content
      .main
        = simple_format(@poem.poem)
      .info
        %ol#teacher
          Poet Teacher: 
          = @poem.teacher_name
        %ol
          Teacher: 
          = @poem.student_teacher_name
        %ol
          School: 
          = @poem.school
        %ol
          County: 
          = @poem.county
        %ol
          = link_to "Download", @poem.attachment_url
