%html
  %head
    %title California Poets in the Schools
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'materialize'
    = stylesheet_link_tag 'adminlogin'
    = csrf_meta_tags

  %body
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
  %script