%html
  %head
    %title California Poets in the Schools
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://code.jquery.com/jquery-2.2.4.js'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css'
    = stylesheet_link_tag 'adminlogin'
    = csrf_meta_tags

  %body
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
  %script