%html
  %head
    %title California Poets in the Schools
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://code.jquery.com/jquery-2.2.4.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css'
    = stylesheet_link_tag 'adminlogin'
    = csrf_meta_tags

  %body
    %nav
      .nav-wrapper
        .brand-logo.right
          %a{:href => "http://www.californiapoets.org/"}
            California Poets in the Schools
            %img.right{:src => "https://static.wixstatic.com/media/a0cfee_3825840911504adfac05ff6e22bf7b6c.jpg/v1/fill/w_198,h_134,al_c,q_80,usm_0.66_1.00_0.01/a0cfee_3825840911504adfac05ff6e22bf7b6c.webp", :style => "width: 93px; height: auto;"}/
        %ul#nav-mobile.left
          %li= link_to 'Home', root_path          
          %li= link_to 'Submit a Poem', new_poem_path
          %li= link_to 'Log In / Sign up', admin_path
    #main    
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
  %script